
.img__table {
  width: 50px;
}

.btn__add {
  background-color: #00cc00 !important;
}

.img__table {
  width: 50px;
}

.nav-tabs .nav-link {
  padding: 10px !important;
}

/*.recipe-card{*/
/*  min-width: 200px;*/
/*}*/

.btn-transparent {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: large;
  font-family: "Merriweather", serif;
}
.btn-transparent:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #86d4f5;
}

@media (max-width: 576px) {
  .btn-transparent {
    font-size: x-small;
  }
}

@media (max-width: 967px) {
  .btn-transparent {
    font-size: small;
  }
}

.new__recipe__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.new__recipe__image__file {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.capitalize-title {
  text-transform: capitalize;
}

.card-custom {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.left-list-group {
  border: none !important;

}

.super-search-input{
  min-width: 250px;
}

.sidebar {
  /*min-width: 175px;*/
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;
  /*overflow-y: auto;*/

}

@media (max-width: 768px) {
  .sidebar {
    display: none;

  }
  h2{
    margin-top: 10px;
  }
}

.jaime-btn{
  float: left;
  margin-left: 50px;
}


/* Styles for centering the pagination */
.pagination-container {
  display: grid;
  justify-content: center;
  margin-top: 20px; /* You can adjust the margin as needed */
}

@media (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
}


/* Styles pour les écrans mobiles (<= 768px) */
@media (max-width: 768px) {

  .navbar-nav .nav-item {
    margin-bottom: 10px; /* Ajoutez de l'espace entre les éléments de menu */
  }
.navbar-nav{
  display: flex;
    justify-content: center;
    align-items: center;
}


  /* Supprimez la marge des boutons et faites-les occuper toute la largeur du menu */
  .navbar-nav .nav-item {
    width: 100%;
    text-align: center; /* Centrez le texte à l'intérieur des boutons */
  }

  /* Facultatif : Ajustez les styles des boutons si nécessaire */
  .navbar-nav .btn {
    padding: 10px; /* Ajustez la taille des boutons */
    border-radius: 5px; /* Ajoutez des coins arrondis */
  }


}


.add-btn-container {
  position: fixed; /* Position fixe par rapport à la fenêtre du navigateur */
  bottom: 20px; /* Espacement depuis le bas */
  right: 40px; /* Espacement depuis la droite */
  z-index: 9999; /* Indice de profondeur élevé pour être au-dessus de tous les autres éléments */
  color: #fff; /* Couleur du texte */
  width: 75px; /* Largeur du conteneur */
  height: 75px; /* Hauteur du conteneur */
  display: flex; /* Affiche les éléments à l'intérieur en ligne */
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  border-radius: 50%; /* Transforme le conteneur en cercle */
  cursor: pointer; /* Curseur pointeur au survol */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Ombre légère pour le conteneur */
}

/* Style pour l'icône à l'intérieur du conteneur */
.add-btn-container i {
  font-size: 50px; /* Taille de l'icône */
}
.add-btn-container i{
  color: white;
}

.dropdown-item{
  text-align: center;
}

.btn-pas-inscrit{
  text-align: right;
}

.pas-inscrit-container{
  display: inline-block;
  margin-top: 40px;
    float: right;
}
.f-logo{
    width: 20px;
    height: auto;
    margin-left: 10px;
    margin-right: 30px;
    transform: rotate(45deg);
}
.f-logo:hover{
    transform: rotate(0deg);
}

.f-logo-footer{
    width: 10%;
    height: auto;
    margin-right: 50px;
    transform: rotate(90deg);
}
.f-logo-footer-inverse{
    width: 10%;
    height: auto;
  margin-left: 50px;
    transform: rotate(270deg);
}
audio{
  display: none;
}




.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}
.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}
.wrapper section .item {
  padding: 0 2px;
  transition: 250ms all;
}
.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}
.wrapper section a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
.wrapper section a:nth-of-type(1) {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.wrapper section a:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
@media only screen and (max-width: 600px) {
  a.arrow__btn {
    display: none;
  }
}

.utilisation-texte{
  float: right;
}


.super-btn {
  text-decoration: none;
  background-color: red;
  color: #fff;
  padding: 30px 50px;
  border-radius: 10% 90% 70% 30% / 30% 56% 44% 70%;
  border: none;
  cursor: pointer;
  font-size: 35px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 6px darkred;
}

.super-btn:hover {
  box-shadow: 0 4px darkred;
  top: 2px;
}

.super-btn:active {
  box-shadow: 0 0 darkred;
  top: 6px;
}

.container-card {
  padding-top: 80px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}
.cercle {

  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: royalblue;
  background: url("https://images.unsplash.com/photo-1614027164847-1b28cfe1df60?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlvbnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  margin: 25px 25px 25px 0px;
  float: right;
  shape-outside: circle();
}

.cercle-image img{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 30px 30px 30px 30px;
  float: right;
  shape-outside: circle();
}

@media (max-width: 768px) {
  .cercle-image img{
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .cercle-image img{
    width: 150px;
    height: 150px;
  }
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}
.medium-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}
.small-circle {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: -1;
}

@media (max-width: 767px) {
  .big-circle {
    display: none;
  }
  .medium-circle {
    display: none;
  }
  .small-circle {
    display: none;
  }
}


/* Styles pour les écrans de petite taille (mobiles) */
@media (max-width: 998px) {
  .navbar-nav .btn {
    width: 100%; /* Rendre les boutons plein largeur */
    margin-bottom: 5px; /* Ajouter de l'espace entre les boutons */
  }
  .badge{
    display: none;
  }
}


/* Styles pour les écrans de petite taille (mobiles) */
@media (max-width: 1200px) {
  .list-group .badge{
    display: none;
  }
}

.btn-close{
  font-size: 50px;
}

.navbar{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.max-width-table {
  max-width: 200px; /* Remplacez 800px par la largeur maximale souhaitée */
  /* Vous pouvez également ajouter d'autres styles si nécessaire */
}

.btn-like-article{
  position: relative;
  margin-right: 30px;
  margin-top: 30px;
}
.article-title{
  margin-top:-50px;
}


.left-offset {
  padding-top: 50px;
  margin-left: -20%; /* Réglez la valeur de marge gauche selon vos besoins */
  padding-bottom: 50px;
}
.block-picture-left{
  padding-top: 100px;
  margin-left: 100px;
}

.special-card{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));

}
.fullscreen-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.picture-right{
  transform: rotate(10deg);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}
.description{
  margin-top: 20px;
}

.picture-right img{
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .picture-right{
    margin-left: 20px;
  }
}

@media (max-width: 998px) {
  .picture-right{
    margin-left: 20px;
  }
}
.picture-left-title{
  transform: rotate(-10deg);
}

.picture-left{
  transform: rotate(-10deg);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4);
}

@media (max-width: 767px) {
  .picture-left{

  }
}

/* Cacher les flèches du spinner */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
  #recipe-ingredient td {
    vertical-align: middle;
    text-align: center;
  }

  .super-logo{
    margin-top: 30px;
    margin-right: 30px;
    width: 100px;
    float: right;
    animation: rotate 5s linear infinite;
  }

.super-logo:hover {
  animation: rotate 1s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-thanks{
  font-size: 4px;
}
.col-album-2{
  transform: rotate(-15deg);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4);
}

.col-picture-4{
  transform: rotate(-15deg);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4);
}

.block {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.block::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  top: 0;
  left: 0;
  animation: drawLine 3s linear infinite;
  transform-origin: left;
}

@keyframes drawLine {
  0% {
    width: 0;
  }
  50% {
    width: 50%; /* Dessine la ligne jusqu'à la moitié de la largeur du bloc */
    left: 50%;
    rotate: 45deg;
  }
  100% {
    width: 50%; /* Dessine la ligne jusqu'à la largeur complète du bloc */
    left: 50%;
    rotate: 45deg;

  }
}

.logo-super-banner{
  padding: 20px;
  background-color: lightblue;
  position: relative;
  rotate: 20deg;
  left: 0;

  top: 200px;
  float: right;
}

.logo-super-banner img{
  max-width: 100px;;
}

.f-banner-logo{
  height: 100px;
  width: auto;
}

.block-super{
  margin-left: 50px;
  margin-top: 50px;
  max-width: 100%;
  transform: rotate(25deg);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4);

}

.block-super-left{
  transform: rotate(25deg);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4);
}


@media (max-width: 768px) {
  .block {
    height: auto;
  }

  .block::before {
    display: none;
  }

  .logo-super-banner {
    display: none;
    /*position: static;*/
    /*transform: none;*/
    /*top: 0;*/
  }

  .block-super {

    display: none;
    /*max-width: 100vh;*/
    /*position: absolute;*/
    /*top: 100px;*/
    /*margin-left: 0;*/
    /*margin-top: 20px;*/
    /*box-shadow: none;*/
    /*z-index: -1;*/
  }

  .block-super-left{
    max-width: 75%;
    position: absolute;
    z-index: -1;
  }

}

@media (max-width: 998px) {
  .block {
    height: auto;
  }

  .block::before {
    display: none;
  }

  .logo-super-banner {
    display: none;
    /*position: static;*/
    /*transform: none;*/
    /*top: 0;*/
  }

  .block-super {

    display: none;
    /*max-width: 100vh;*/
    /*position: absolute;*/
    /*top: 100px;*/
    /*margin-left: 0;*/
    /*margin-top: 20px;*/
    /*box-shadow: none;*/
    /*z-index: -1;*/
  }

  .block-super-left{
    max-width: 75%;
    position: absolute;
    z-index: -1;
  }

}


@media (max-width: 480px) {
.bottom-nav{
  position: static;
  left: 0;
}

}

@media (max-width: 580px) {
  .bottom-nav{
    position: relative;
    float: right;
    left: 35%;
  }

}


.heart {
  position: absolute;
  top: 120px;
  left: 90%;
  padding: 40px;
  max-height: 150px;
}
@media (max-width: 480px) {
  .heart {
    width: 35vw;
    position: absolute;
    margin-left:-60px !important;
  }

}

@media (max-width: 768px) {
  .heart {
    margin-top: 20px;
    position: absolute;
    margin-left:-40px;
  }
  .article-title {
    margin-bottom: 20px;
  }
}
@media (max-width: 998px) {
  .heart {
    left: 80% !important;
  }
}

@media (max-width: 1200px) {
  .heart {
    /*position: fixed;*/
    left: 80% !important;
  }
}

@media (max-width: 1400px) {
  .heart {
    /*position: fixed;*/
    left: 80% !important;
  }
}


.heart[animation="0"] {
  animation: pulsate-bck 0.8s ease-in-out infinite both;
}

.heart[animation="1"] {
  animation: jello-horizontal 0.9s both;
}


.heart-icon {
  max-width: 100%;
  max-height: 100%;
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.9);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}





.drag-drop-container {
  text-align: center;
  font-family: monospace;
}

.drag-drop-board {
  display: flex;
  justify-content: space-around;
}

.drag-drop-header {
  text-decoration-line: underline;
  font-size: 1.5rem;
}

.task-header {
  margin: 10px;
  text-decoration: underline;
  font-size: 1rem;
}

.task-card {
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}
