/*body {*/
/*  background-color: var(--dark);*/
/*}*/

/*!********** Template CSS **********!*/
/*:root {*/
/*  --primary: #00cc00;*/
/*  --secondary: #191c24;*/
/*  --light: #6c7293;*/
/*  --dark: #000000;*/
/*}*/

/*.back-to-top {*/
/*  position: fixed;*/
/*  display: none;*/
/*  right: 45px;*/
/*  bottom: 45px;*/
/*  z-index: 99;*/
/*}*/

/*!*** Spinner ***!*/
/*#spinner {*/
/*  opacity: 0;*/
/*  visibility: hidden;*/
/*  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;*/
/*  z-index: 99999;*/
/*}*/

/*#spinner.show {*/
/*  transition: opacity 0.5s ease-out, visibility 0s linear 0s;*/
/*  visibility: visible;*/
/*  opacity: 1;*/
/*}*/

/*!*** Button ***!*/
/*.btn {*/
/*  transition: 0.5s;*/
/*}*/

/*.btn-square {*/
/*  width: 38px;*/
/*  height: 38px;*/
/*}*/

/*.btn-sm-square {*/
/*  width: 32px;*/
/*  height: 32px;*/
/*}*/

/*.btn-lg-square {*/
/*  width: 48px;*/
/*  height: 48px;*/
/*}*/

/*.btn-square,*/
/*.btn-sm-square,*/
/*.btn-lg-square {*/
/*  padding: 0;*/
/*  display: inline-flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-weight: normal;*/
/*  border-radius: 50px;*/
/*}*/

/*!*** Layout ***!*/
/*.sidebar {*/
/*  position: fixed;*/
/*  top: 100px;*/
/*  left: 0;*/
/*  bottom: 0;*/
/*  width: 250px;*/
/*  height: 100vh;*/
/*  !*overflow-y: auto;*!*/
/*  background: var(--dark);*/
/*  transition: 0.5s;*/
/*  z-index: 999;*/
/*}*/

/*.content {*/
/*  margin-left: 250px;*/
/*  min-height: 100vh;*/
/*  background: var(--dark);*/
/*  transition: 0.5s;*/
/*}*/

/*@media (min-width: 992px) {*/
/*  .sidebar {*/
/*    margin-left: 0;*/
/*  }*/

/*  .sidebar.open {*/
/*    margin-left: -250px;*/
/*  }*/

/*  .content {*/
/*    width: calc(100% - 250px);*/
/*  }*/

/*  .content.open {*/
/*    width: 100%;*/
/*    margin-left: 0;*/
/*  }*/
/*}*/

/*@media (max-width: 991.98px) {*/
/*  .sidebar {*/
/*    margin-left: -250px;*/
/*  }*/

/*  .sidebar.open {*/
/*    margin-left: 0;*/
/*  }*/

/*  .content {*/
/*    width: 100%;*/
/*    margin-left: 0;*/
/*  }*/
/*}*/

/*!*** Navbar ***!*/
/*.sidebar .navbar .navbar-nav .nav-link {*/
/*  padding: 7px 20px;*/
/*  color: var(--light);*/
/*  font-weight: 500;*/
/*  border-left: 3px solid var(--secondary);*/
/*  border-radius: 0 30px 30px 0;*/
/*  outline: none;*/
/*}*/

/*.sidebar .navbar .navbar-nav .nav-link:hover,*/
/*.sidebar .navbar .navbar-nav .nav-link.active {*/
/*  color: var(--primary);*/
/*  background: var(--dark);*/
/*  border-color: var(--primary);*/
/*}*/

/*.sidebar .navbar .navbar-nav .nav-link i {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  display: inline-flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  background: var(--dark);*/
/*  border-radius: 40px;*/
/*}*/

/*.sidebar .navbar .navbar-nav .nav-link:hover i,*/
/*.sidebar .navbar .navbar-nav .nav-link.active i {*/
/*  background: var(--secondary);*/
/*}*/

/*.sidebar .navbar .dropdown-toggle::after {*/
/*  position: absolute;*/
/*  top: 15px;*/
/*  right: 15px;*/
/*  border: none;*/
/*  content: "\f107";*/
/*  font-family: "Font Awesome 5 Free";*/
/*  font-weight: 900;*/
/*  transition: 0.5s;*/
/*}*/

/*.sidebar .navbar .dropdown-toggle[aria-expanded="true"]::after {*/
/*  transform: rotate(-180deg);*/
/*}*/

/*.sidebar .navbar .dropdown-item {*/
/*  padding-left: 25px;*/
/*  border-radius: 0 30px 30px 0;*/
/*  color: var(--light);*/
/*}*/

/*.sidebar .navbar .dropdown-item:hover,*/
/*.sidebar .navbar .dropdown-item.active {*/
/*  background: var(--dark);*/
/*}*/

/*.content .navbar .navbar-nav .nav-link {*/
/*  margin-left: 25px;*/
/*  padding: 12px 0;*/
/*  color: var(--light);*/
/*  outline: none;*/
/*}*/

/*.content .navbar .navbar-nav .nav-link:hover,*/
/*.content .navbar .navbar-nav .nav-link.active {*/
/*  color: var(--primary);*/
/*}*/

/*.content .navbar .sidebar-toggler,*/
/*.content .navbar .navbar-nav .nav-link i {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  display: inline-flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  background: var(--dark);*/
/*  border-radius: 40px;*/
/*}*/

/*.content .navbar .dropdown-item {*/
/*  color: var(--light);*/
/*}*/

/*.content .navbar .dropdown-item:hover,*/
/*.content .navbar .dropdown-item.active {*/
/*  background: var(--dark);*/
/*}*/

/*.content .navbar .dropdown-toggle::after {*/
/*  margin-left: 6px;*/
/*  vertical-align: middle;*/
/*  border: none;*/
/*  content: "\f107";*/
/*  font-family: "Font Awesome 5 Free";*/
/*  font-weight: 900;*/
/*  transition: 0.5s;*/
/*}*/

/*.content .navbar .dropdown-toggle[aria-expanded="true"]::after {*/
/*  transform: rotate(-180deg);*/
/*}*/

/*@media (max-width: 575.98px) {*/
/*  .content .navbar .navbar-nav .nav-link {*/
/*    margin-left: 15px;*/
/*  }*/
/*}*/

/*!*** Date Picker ***!*/
/*.bootstrap-datetimepicker-widget.bottom {*/
/*  top: auto !important;*/
/*}*/

/*.bootstrap-datetimepicker-widget .table * {*/
/*  border-bottom-width: 0px;*/
/*}*/

/*.bootstrap-datetimepicker-widget .table th {*/
/*  font-weight: 500;*/
/*}*/

/*.bootstrap-datetimepicker-widget.dropdown-menu {*/
/*  padding: 10px;*/
/*  border-radius: 2px;*/
/*}*/

/*.bootstrap-datetimepicker-widget table td.active,*/
/*.bootstrap-datetimepicker-widget table td.active:hover {*/
/*  background: var(--primary);*/
/*}*/

/*.bootstrap-datetimepicker-widget table td.today::before {*/
/*  border-bottom-color: var(--primary);*/
/*}*/

/*!*** Testimonial ***!*/
/*.progress .progress-bar {*/
/*  width: 0px;*/
/*  transition: 2s;*/
/*}*/

/*!*** Testimonial ***!*/
/*.testimonial-carousel .owl-dots {*/
/*  margin-top: 24px;*/
/*  display: flex;*/
/*  align-items: flex-end;*/
/*  justify-content: center;*/
/*}*/

/*.testimonial-carousel .owl-dot {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  margin: 0 5px;*/
/*  width: 15px;*/
/*  height: 15px;*/
/*  border: 5px solid var(--primary);*/
/*  border-radius: 15px;*/
/*  transition: 0.5s;*/
/*}*/

/*.testimonial-carousel .owl-dot.active {*/
/*  background: var(--dark);*/
/*  border-color: var(--primary);*/
/*}*/

/*.a {*/
/*  color: #00cc00 !important;*/
/*  text-decoration: none;*/
/*}*/

.img__table {
  width: 50px;
}

.btn__add {
  background-color: #00cc00 !important;
}

.img__table {
  width: 50px;
}

.nav-tabs .nav-link {
  padding: 10px !important;
}

/*.recipe-card{*/
/*  min-width: 200px;*/
/*}*/

.btn-transparent {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: large;
  font-family: "Merriweather", serif;
}
.btn-transparent:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #86d4f5;
}

@media (max-width: 576px) {
  .btn-transparent {
    font-size: x-small;
  }
}

@media (max-width: 967px) {
  .btn-transparent {
    font-size: small;
  }
}

.new__recipe__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.new__recipe__image__file {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.capitalize-title {
  text-transform: capitalize;
}

.card-custom {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.list-group{
  border: none !important;

}

.super-search-input{
  min-width: 250px;
}

.sidebar {
  min-width: 175px;
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;
  /*overflow-y: auto;*/

}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  h2{
    margin-top: 10px;
  }
}

.jaime-btn{
  float: left;
  margin-left: 50px;
}


/* Styles for centering the pagination */
.pagination-container {
  display: grid;
  justify-content: center;
  margin-top: 20px; /* You can adjust the margin as needed */
}

@media (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
}


/* Styles pour les écrans mobiles (<= 768px) */
@media (max-width: 768px) {

  .navbar-nav .nav-item {
    margin-bottom: 10px; /* Ajoutez de l'espace entre les éléments de menu */
  }
.navbar-nav{
  display: flex;
    justify-content: center;
    align-items: center;
}


  /* Supprimez la marge des boutons et faites-les occuper toute la largeur du menu */
  .navbar-nav .nav-item {
    width: 100%;
    text-align: center; /* Centrez le texte à l'intérieur des boutons */
  }

  /* Facultatif : Ajustez les styles des boutons si nécessaire */
  .navbar-nav .btn {
    padding: 10px; /* Ajustez la taille des boutons */
    border-radius: 5px; /* Ajoutez des coins arrondis */
  }


}


.add-btn-container {
  position: fixed; /* Position fixe par rapport à la fenêtre du navigateur */
  bottom: 20px; /* Espacement depuis le bas */
  right: 40px; /* Espacement depuis la droite */
  z-index: 9999; /* Indice de profondeur élevé pour être au-dessus de tous les autres éléments */
  color: #fff; /* Couleur du texte */
  width: 75px; /* Largeur du conteneur */
  height: 75px; /* Hauteur du conteneur */
  display: flex; /* Affiche les éléments à l'intérieur en ligne */
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  border-radius: 50%; /* Transforme le conteneur en cercle */
  cursor: pointer; /* Curseur pointeur au survol */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Ombre légère pour le conteneur */
}

/* Style pour l'icône à l'intérieur du conteneur */
.add-btn-container i {
  font-size: 50px; /* Taille de l'icône */
}

.dropdown-item{
  text-align: center;
}

.btn-pas-inscrit{
  text-align: right;
}

.pas-inscrit-container{
  display: flex;
  position: absolute;
  right: 10%;
  top: 340px;
  justify-content: right;
}
.f-logo{
    width: 20px;
    height: auto;
    margin-left: 10px;
    margin-right: 30px;
    transform: rotate(45deg);
}
.f-logo:hover{
    transform: rotate(0deg);
}

.f-logo-footer{
    width: 10%;
    height: auto;
    margin-right: 50px;
    transform: rotate(90deg);
}
.f-logo-footer-inverse{
    width: 10%;
    height: auto;
  margin-left: 50px;
    transform: rotate(270deg);
}
audio{
  display: none;
}




